/*
 * Source to styles.css used in the application
 */

$first_fg_color: #333333
$second_fg_color: #4488ee
$third_fg_color: #88ffaa

$first_bg_color: #bbbbbb
$second_bg_color: #999999
$third_bg_color: #cccccc

$shadow_color: #444444

$red_suit_color: #bb0000
$black_suit_color: #000000
$card_background_color: #dddddd
$card_highligh_bg_color: #ffffff
$carpet_color: #226622
$joker1_color: green
$joker2_color: #5555ff

$window_min_width: 800px
$window_min_height: 600px

$font-stack: Helvetica, sans-serif

html
  margin: 0px
  padding: 0px
  height: 100%

body
  margin: 0px
  padding: 0px
  height: 100%
  font: 200% $font-stack
  color: $first_fg_color

label
  margin-right: 5px

#main_container
  width: 100%
  height: 100%
  margin: 0px
  padding: 0px
  min-width: $window_min_width
  min-height: $window_min_height
  background-color: $third_bg_color
  display: flex
  justify-content: center
  align-items: center

  input.wrong
    background-color: #cc8888

  input.right
    background-color: #88cc88

  input:disabled
    background-color: $first_bg_color
    color: $first_fg_color

  button
    border-radius: 15px
    background-color: $first_bg_color

  button:active
    background-color: $card_highligh_bg_color

  button:focus
    outline: 0px

  button:disabled
    background-color: $first_fg_color
    color: $first_bg_color

@mixin box
  margin: 0px
  padding: 0px
  border: solid 5px $first_fg_color
  background-color: $second_bg_color


@mixin box-hl
  border: solid 10px $third_fg_color
  background-color: $third_bg_color

@mixin box-shadow
  box-shadow: 7px 7px 7px $shadow_color

@mixin main_box
  @include box
  @include box-shadow
  border-color: $first_fg_color
  margin-top: 1%
  margin-bottom: 1%
  margin-left: auto
  margin-right: auto
  vertical-align: middle

@mixin card
  @include box
  float: left
  border: none
  background-color: rgba(0,0,0,0)
  text-align: center
  display: flex
  padding: 5px

  p
    border: 1px solid
    height: 100%
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    border-radius: 10px
    background: $card_background_color
    user-select: none
    font-weight: bold
    font-size: 140%

  span.card_class_text
    font-size: 140%

  p.hearts, div.card.diamonds
    color: $red_suit_color

  p.spades, div.card.clubs
    color: $black_suit_color

  p.joker1
    color: $joker1_color

  p.joker2
    color: $joker2_color


#welcome_box
  @include main_box
  width: 85%
  max-width: 1000px
  max-height: 500px
  text-align: center
  padding: 10px
  padding-top: 20px
  padding-bottom: 20px
  vertical-align: top
  min-height: 320px
  border: 0px
  border-radius: 10px


  #welcome_subbox
    width: 100%
    padding: 20px
    display: flex
    justify-content: center
    align-items: center

    #login_box, #host_box
      @include box
      min-height: 250px
      max-height: 400px
      width: 49%
      margin-left: auto
      margin-right: auto
      background-color: $first_bg_color
      border-radius: 10px

      form
        padding: 10px
        //min-height: 150px
        width: calc(100% - 30px)
        border: 0px
        @include box-shadow
        margin-left: auto
        margin-right: auto
        margin-bottom: 10px
        border-radius: 10px
        background-color: $third_bg_color

      button
        width: 95%
        margin-top: 5px

    label
      width: 110px
      padding-right: 5px

    input
      text-align: left
      max-width: calc(100% - 120px)

    #login_box
      $border_color_login: #603e3e
      border-color: $border_color_login

      button
        color: $border_color_login

    #host_box
      $border_color_host: $carpet_color
      border-color: $border_color_host

      button
        color: $border_color_host

    #hosting_div
      padding: 5px

      img.loading_gif
        width: 100px
        display: inline-block

  p.note
    font-size: 90%
    font-style: italic
    text-align: justify
    padding: 10px

#game_div
  width: 95%
  height: 95%

  #game_box
    @include main_box
    border-radius: 5px
    height: 80%
    width: calc(100% - 20px)
    margin-bottom: 15px
    background-color: $carpet_color

    div.card
      @include card
      // 100/11
      width: 9.05%
      // 100/8
      height: 12.5%

  #card_selection_box
    @include main_box
    border-radius: 5px
    height: 10%
    width: 50%

    div.card
      @include card
      height: 100%
      width: 16.6666%
      // 100 / 6
      margin-left: auto
      margin-right: auto
      display: block